---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Phillip Shields" description="About Phill">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Michigander, software developer, and all-around good egg."
			>
				<img
					width="1553"
					height="873"
					src="https://avatars.githubusercontent.com/u/28024295?s=400&u=36bf6279c8188ab74b05810367a7708e5b289ac2&v=4"
					alt="me and the wee monster"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						A fullstack developer with 3 years of professional experience and a background in international education. Prior to transitioning into software development, I taught in several countries including South Korea, Turkey, China, and the Republic of Georgia.
				</p>
				<br />
				<p>
						Currently based in New Zealand, I work with a diverse tech stack at a Motueka-based company, with particular expertise in Golang. I'm passionate about continuous learning and expanding my development skills.
				</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Bachelor of Information Technology, Software Development Pathway</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
						<p><strong>Frontend</strong>: React, Angular, Svelte, Blazor, TailwindCSS, Bootstrap</p>
						<p><strong>Backend</strong>: Golang, Node, C#, Python, API Development, MSSQL, Postgres, MongoDB</p>
						<p><strong>DevOps</strong>: Docker, Git, GitHub, Release Management, Azure Services</p>
						<p><strong>Other</strong>: AI Technologies, Blockchain Technologies</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
