---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="browsers" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Frontend</h2>
		<p>I have exprience with React, Angular, Svelte, a bit of Blazor, and good old HTML templating. I am also well-versed with a few CSS frameworks like Bootstrap, TailwindCSS, and a Tachyons.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="cloud" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Backend</h2>
		<p>I have experience working with Node, Python, Golang, and even some Dotnet backends. API development has always been one of my favorite aspects of dev work.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="db" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Database</h2>
		<p>Most of my experience has been with relational databases like MSSQL, Postgres, and SQLite. But I have a decent understanding of MongoDB and even some blockchains.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
